{% extends "base.html" %}

{% block content %}

<main class="container position-relative">
    <!-- Featured Products -->
    <h3 class="border-bottom">Register as a Seller</h3>
    
   <table class="table table-bordered">
       
        <form method="post"> 
            
            {{form}}
            <tr>
                <td colspan="2">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </td>
            </tr>
        </form>   
    </table>
    </div>
    
</main>
{% endblock %}